
.game-status-area,
.game-input-area {
    flex-shrink: 0; /* Prevents these areas from shrinking */
    flex:1;
}
/* Add this to make the parent of game-screen-container a flex container */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Adjust the height of the game-screen-container */
.game-screen-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* This will make the game-screen-container grow to take up remaining space */
    width: 100vw;
    height: 100vh;
}

.footer{
    height:5vh;
    height: 1rem;
position: fixed;
bottom: 0;
}
.shared-terminal {
    display: flex;
    margin:.5rem;
    margin-left:1rem;
    flex-direction: column;
    align-self: stretch;
    flex-grow: 3; /* This will make the game-screen-container grow to take up remaining space */
}
.chatbox {
    flex-grow:2;
    margin:.5rem;
    margin-right:1rem;
    align-self: stretch;
    max-width: 40em;
}
.terminals-container {
    display: flex;
    flex-direction: row;
    width: 100%; /* Make sure the container spans the full width */
    height:100%;
    justify-content: center; /* Center the children horizontally */
    align-items: center;;
    flex-grow: 1; /* Allow the container to take up remaining space */
    overflow: auto; /* Adds scroll bars if content exceeds the container's size */
}
.game-input-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    justify-content: flex-end;
}